@model IEnumerable<TheLocalGeekery.Models.MenuItem>

@helper Truncate(string
input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}



@{
    ViewBag.Title = "Menu - The Local Geekery";
}

<h2>Menu</h2>

<h3>Appetizers</h3>

<table class="table table-condensed">
    <tr>
        <th>
            Menu Item
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Where(a => a.ItemType == "Appetizer"))
    {
        <tr>
            <td>
                <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
            </td>
            <td>
                @Truncate(item.ItemDescription, 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>

        </tr>
    }

</table>

<h3>Main Courses</h3>

<table class="table table-condensed">
    <tr>
        <th>
            Menu Item
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Where(a => a.ItemType == "Main"))
    {
        <tr>
            <td>
                <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
            </td>
            <td>
                @Truncate(item.ItemDescription, 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>

        </tr>
    }

</table>

<h3>Desserts</h3>

<table class="table table-condensed">
    <tr>
        <th>
            Menu Item
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Where(a => a.ItemType == "Dessert"))
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ItemIconUrl)" alt="@item.ItemName" />  
                @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
            </td>
            <td>
                @Truncate(item.ItemDescription, 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>

        </tr>
    }

</table>

<h3>Beverages</h3>

<table class="table table-condensed">
    <tr>
        <th>
            Menu Item
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model.Where(a => a.ItemType == "Beverage"))
    {
        <tr>
            <td>
                <img src="@item.ItemIconUrl" alt="@item.ItemName" />
                @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })
            </td>
            <td>
                @Truncate(item.ItemDescription, 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>

        </tr>
    }

</table>


